{% extends "layout.jinja2" %}
{% block content %}

<ul class="breadcrumb">
  <li><a href="{{'event_list'|route_url}}">События</a> <span class="divider">/</span></li>
  <li><a href="{{'event_edit'|route_url(id=event_id)}}">event #{{ event_id }}</a> <span class="divider">/</span></li>
  <li class="active">добавить икону</li>
</ul>


<H2>Добавить икону</H2>
{{ form | safe }}
{% endblock %}