{% extends "layout.jinja2" %}
{% block content %}
<h2>Список событий</h2>
<table class="table table-hover">
<thead>
<tr>
	<th>id</th>
</tr>
</thead>
<tbody>
{% for event in event_list %}
  <tr>
      <td><a href='{{'event_edit'|route_url(id=event.id)}}'>{{ event.id }}</a></td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}